<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DistributedTcSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.se17e.servlet.CustomerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>CustomerRewarmServlet</display-name>
    <servlet-name>CustomerRewarmServlet</servlet-name>
    <servlet-class>com.se17e.servlet.CustomerRewarmServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRewarmServlet</servlet-name>
    <url-pattern>/CustomerRewarmServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>CustomerRBillServlet</display-name>
    <servlet-name>CustomerBillServlet</servlet-name>
    <servlet-class>com.se17e.servlet.CustomerBillServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerBillServlet</servlet-name>
    <url-pattern>/CustomerBillServlet</url-pattern>
  </servlet-mapping>


  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.se17e.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemServlet</display-name>
    <servlet-name>SystemServlet</servlet-name>
    <servlet-class>com.se17e.servlet.SystemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServlet</servlet-name>
    <url-pattern>/SystemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminViewServlet</display-name>
    <servlet-name>AdminViewServlet</servlet-name>
    <servlet-class>com.se17e.servlet.AdminViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewServlet</servlet-name>
    <url-pattern>/AdminViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.se17e.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CheckServelet</display-name>
    <servlet-name>CheckServelet</servlet-name>
    <servlet-class>com.se17e.servlet.CheckServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServelet</servlet-name>
    <url-pattern>/CheckServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CheckViewServelet</display-name>
    <servlet-name>CheckViewServelet</servlet-name>
    <servlet-class>com.se17e.servlet.CheckViewServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckViewServelet</servlet-name>
    <url-pattern>/CheckViewServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerViewServlet</display-name>
    <servlet-name>CustomerViewServlet</servlet-name>
    <servlet-class>com.se17e.servlet.CustomerViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerViewServlet</servlet-name>
    <url-pattern>/CustomerViewServlet</url-pattern>
  </servlet-mapping>
<!--  <servlet>-->
<!--    <description></description>-->
<!--    <display-name>CustomerServlet</display-name>-->
<!--    <servlet-name>CustomerServlet</servlet-name>-->
<!--    <servlet-class>com.se17e.servlet.CustomerServlet</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>CustomerServlet</servlet-name>-->
<!--    <url-pattern>/CustomerServlet</url-pattern>-->
<!--  </servlet-mapping>-->
  <servlet>
    <display-name>ReceptionistServlet</display-name>
    <servlet-name>ReceptionistServlet</servlet-name>
    <servlet-class>com.se17e.servlet.ReceptionistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceptionistServlet</servlet-name>
    <url-pattern>/ReceptionistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ReceptionistviewServlet</display-name>
    <servlet-name>ReceptionistviewServlet</servlet-name>
    <servlet-class>com.se17e.servlet.ReceptionistviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceptionistviewServlet</servlet-name>
    <url-pattern>/ReceptionistviewServlet</url-pattern>
  </servlet-mapping>
</web-app>